* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  font-family: "Times New Roman", Times, serif;
}

#new-book-dialog {
  position: fixed;
  padding: 1rem;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 10;
}

#book-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  width: 100%;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #8DA683;
}